<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stupid coaching</title>
</head>
<body>
  <h1>Stupid coaching</h1>

  <p><%= params[:question] %></p>
  <p><%= @answer %></p>
  <%= link_to 'Ask another question', ask_path %>
</body>
</html>
