<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stupid coaching</title>
</head>
<body>
  <div class="container">
    <h1>Stupid coaching</h1>
    <div class="card bg-light mb-3">
      <div class="card-body">
        <p><%= params[:question] %></p>
      </div>
    </div>
    <div class="card bg-warning mb-3">
      <div class="card-body">
        <p><%= @answer %></p>
      </div>
    </div>
    <%= link_to 'Ask another question', ask_path %>
  </div>
</body>
</html>
